/*Nanum pen Script 글꼴 적용*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/*애니메이션 적용 위한 keyframes*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  font-family: 'Nanum Pen Script';
}

.header {
  display: flex;
  height: 120px;
}

#profile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 1%;
}

#headLogo {
  position: absolute;
  margin-left: 50%;
}

#profile:hover {
  cursor: pointer;
  animation: fadeIn 0.2s linear;
}

#thumbnail {
  margin-right: 10px;
  font-size: 30px;
}
#welcome {
  font-size: 20px;
}
#headLogo > a {
  font-size: 80px;
  color: rgba(241, 196, 15, 0.38);
  font-weight: bold;
  padding: 0px;
  margin-top: 0px;
}

#headLogo > a:hover {
  text-decoration: none;
  color: black;
  animation: fadeIn 0.3s linear;
}

.headerIcon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-left: 85%;
  margin-top: 1.5%;
}
#headCart,
#headScrap {
  margin: 5px;
  font-size: 30px;
  text-align: center;
  width: 20%;
  height: 50%;
}

.headerIcon > #headCart:hover,
.headerIcon > #headScrap:hover {
  cursor: pointer;
  animation: fadeIn 0.2s linear;
}

.profileMenu {
  /* border: 1px solid green; */
  background-color: white;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 80px;
  margin-top: 80px;
  width: 160px;
  height: 101px;
}
.profileMenu > a {
  /* border: 1px solid red; */
  text-decoration: none;
  color: black;
  background-color: rgb(224, 224, 224);
  font-size: 30px;
  text-align: center;
  height: 50px;
}
.profileMenu > a:hover {
  text-decoration: none;
  background-color: gray;
  animation: fadeIn 0.2s linear;
  color: white;
  cursor: pointer;
}

.logoutIcon {
  position: absolute;
  height: 70px;
  width: 150px;
  margin-left: 1320px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.logoutIcon > button {
  width: 75px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  font-size: 17px;
}

.navigator {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 8%;
}

.navigator,
.sideBar {
  background: rgb(255, 235, 205);
}

.mainMenu {
  height: 100%;
  width: 20%;
}

.mainMenu a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 30px;
  line-height: 200%;
}

.mainMenu a:hover {
  background-color: rgb(218, 214, 214);
  text-decoration: none;
  color: white;
  animation: fadeIn 0.2s linear;
}

.sideBar {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
}

.sideBar > h2 {
  /* border: 2px solid black; */
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  height: 100px;
  line-height: 70px;
}
#menuContent {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  height: 88%;
}

.subMenu {
  display: flex;
  justify-content: center;
}

.subMenu > a:hover,
.subMenu > span:hover {
  text-decoration: none;
  color: tomato;
  cursor: pointer;
}

.subMenu > a {
  font-size: 25px;
  width: 70%;
  color: black;
  line-height: 70px;
}
.subMenu > span {
  /*사이드네비게이터 > 화살표*/
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}

#menuContent .subMenu {
  border-top: 2px solid gray;
}

#menuContent .subMenu:last-child {
  border-bottom: 2px solid gray;
}

.subMenuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.subMenuList > ul {
  height: 100%;
  font-size: 25px;
  margin-right: 30px;
}

.subMenuList > ul:hover,
.subMenuList a:hover {
  text-decoration: none;
  color: blue;
}

.subMenuList li > a {
  text-decoration: none;
  color: black;
}
