.wrapper {
  height: 130vh;
}
.content * {

}

.loginForm {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loginForm > h1 {
  margin-top: 100px;
  font-size: 50px;
  margin-bottom: 30px;
}

form {
  align-self: center;
  width: 500px;
  height: 400px;
}

table {
  width: 500px;
  height: 300px;
}

table * {
  font-size: 30px;
}

tr:nth-child(3) button {
  width: 85%;
  height: 50px;
  font-size: 20px;
}

tr:nth-child(4) > td {
  width: 33%;
}

tr:nth-child(4) button {
  width: 50px;
  width: 50%;
  font-size: 20px;
}
